body {
  background-color: #f7f8f9;
  margin: 0;
}
.list-group li:nth-child(1){
  border-top: 0 none;
}
.caraousel_image {
  height: 500px;
}

.slick-slide:first-child {
    z-index: 10;
}
.header {
  background-image: url("assets/Group 449.png");
  padding: 0;
  width: 100%;
  height: 350px;
}
.list_div{
  background-color: white;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.list_div_search{
  background-color: white;
  width: 100%;
  padding-top: 10px;
}
.text_title {
  text-align: left;
}
.show_not_found{
  background-color: white;
  color: #34495e;
}

.footer{
  margin-bottom:40px;
}
#unggulan {
  border-radius: 0;
  font-weight: none;
  background-color: #5BCBFE;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

.content {
  background-color: #FFF;
  padding: 20px;
  margin: 20px 0px 10px 0px;

-webkit-box-shadow: 2px 6px 35px 0px rgba(189,195,199,0.74);
-moz-box-shadow: 2px 6px 35px 0px rgba(189,195,199,0.74);
box-shadow: 2px 6px 35px 0px rgba(189,195,199,0.74);
}

  #alamat:hover {
    cursor:pointer;
}

#icon_search {
   border:0;
  background:white;
}

.slick-prev:before {
color: #3D87F3;
font-size: 25px;
}
.slick-next:before {
color: #3D87F3;
font-size: 25px;
}